[submodule "ext/embedFiglet"]
	path = ext/embedFiglet
	url = https://github.com/ebertolazzi/embedFiglet.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/allisterb/spdlog.git
[submodule "ext/wblennardjones"]
	path = ext/test_sims/wblennardjones
	url = https://github.com/allisterb/lennardjones.git
[submodule "ext/libxdrfile"]
	path = ext/libxdrfile
	url = https://github.com/allisterb/libxdrfile.git
[submodule "ext/inih"]
	path = ext/inih
	url = https://github.com/benhoyt/inih.git
